---
layout: page
---

main.content!= content

form
  .field
    label.label Text 
    .control
      input.input(type="text", placeholder="Ulysses")
    label.label Citation
      .control
        input.input(type="text", placeholder="Jane Doe")
    label.label Analysis
      .control
        textarea.textarea(placeholder="Enter your analysis here.")
    label.label Your Name
      .control
        input.input(type="text", placeholder="Jane Doe")
    label.label Your Email Address
      .control.has-icons-left.has-icons-right
        input.input(type="email", placeholder="jane.doe@joycewords.com")
        span.icon.is-small.if-left
          i.fas.fa-envelope
